.game {
    display: flex;
    flex-direction: row;
  }
  
.game-board {
margin-right: 20px;
}

.game-info {
margin-left: 20px;
}

.game-info ol {
padding-left: 30px;
}

.game-info button {
margin-bottom: 10px;
padding: 5px 10px;
font-size: 14px;
cursor: pointer;
}
  